@model IEnumerable<MvcApplication2.Models.Book>
@Html.ActionLink("Home","Index","Home") 

<br />


@Html.ActionLink("Logout","Logout","Admin")
<br />


<form method="get" action="@Url.Action("Index", "Book")">
    <label>Search Data</label>
    <input type="text" name="search" />
    <button type="submit">Search</button>
</form>

@Html.ActionLink("Add", "Add")

<br/>                                       
    
@foreach (var item in Model)
{
    
    @Html.DisplayFor(asdf => item.ID);
    <text>&nbsp;</text>
    @Html.DisplayFor(asdf => item.BookTitle);
    <text>&nbsp;</text>
    @Html.DisplayFor(asdf => item.Author);
    <text>&nbsp;</text>

    @Html.ActionLink("Edit", "Edit", new { Id = item.ID })
    <text>&nbsp;</text>

    @Html.ActionLink("Delete", "Delete", new { Id = item.ID })
    <br />

}
